<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Postpostprocessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="maxNegativeX" value="-20"/>
		<add key="maxNegativeY" value="-20"/>
		<add key="maxNegativeZ" value="-1"/>
		<add key="savePath" value="C:\Users\PCPCPC\Documents\Visual Studio 2010\Projects\Postpostprocessing\Postpostprocessing\bin\Debug\copy\"/>		<!-- Output location -->
		<add key="archive" value="C:\Users\PCPCPC\Documents\Visual Studio 2010\Projects\Postpostprocessing\Postpostprocessing\bin\Debug\copy\"/>		<!-- Archive location -->
		<add key="minDistForRapidMove" value="1000"/>		<!-- Sets the minimum distance for rapid movement before it uses G00 instead og G02/G03 -->
		<add key="aboveMaterialRadiusSpeed" value="12000."/> <!-- the feed speed when moving above material MUST CONTAIN A PERIOD AS DECIMAL SEPARATOR EVEN WITHOUT DECIMALS!! -->
		<add key="radiusAboveMaterial" value="10000."/>      <!-- the radius size of the arc when moving above material using G02/G03 MUST CONTAIN A PERIOD AS DECIMAL SEPARATOR EVEN WITHOUT DECIMALS!!-->
	</appSettings>
</configuration>