Postpostprocessing\bin/*
Postpostprocessing\bin
Postpostprocessing\bin\
bin
Postpostprocessing/obj/x86/Debug/Postpostprocessing.csproj.FileListAbsolute.txt
Postpostprocessing/obj/x86/Debug/Postpostprocessing.csprojResolveAssemblyReference.cache
Postpostprocessing/obj/x86/Debug/Postpostprocessing.pdb
Postpostprocessing/obj/x86/Debug/Postpostprocessing.exe